---
title: faq.title
---
<div class="grid grid-cols-3 gap-4">
  <ul class="p-4 mb-4 text-sm text-blue-900 bg-blue-100 border-t-4 border-blue-400 rounded-b shadow-md">
    <% data.qas.map { |d| YAML.load(d) }.each do |qa| %>
      <li><a href="#<%= qa['slug'] %>"><%= t("faq.entries.#{qa['slug']}.title") %></a></li>
    <% end %>
  </ul>
  <dl class="col-span-2 p-4">
    <% data.qas.map { |d| YAML.load(d) }.each do |qa| %>
      <dt id="<%= qa['slug'] %>" class="font-bold"><%= t("faq.entries.#{qa['slug']}.title") %></dt>
      <dd class="pb-4"><%= t("faq.entries.#{qa['slug']}.body") %></dd>
    <% end %>
  </dl>
</div>