<!doctype html>
<html class="antialiased font-body" lang="<%= ::I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-language" content="<%= ::I18n.locale %>-<%= data.languages[::I18n.locale]['country'] %>">
    <title><%= t(current_page.data.title) %> - Freedom to Share</title>
    <meta property="og:title" content="<%= t(current_page.data.title) %> - Freedom to Share">
    <meta property="og:type" content="website">
    <meta property="og:description" content="<%= t('home.cta') %>. <%= t('home.widget.steps.other') %>">
    <meta property="og:image" content="https://freesharing.eu/images/social_banner.jpeg">
    <meta property="og:url" content="https://freesharing.eu<%= current_page.url %>">
    <meta property="og:site_name" content="Freedom to Share ECI by GOIPE Association">
    <meta property="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@freesharingeu">
    <meta name="twitter:image" content="https://freesharing.eu/images/social_banner.jpeg">
    <%= stylesheet_link_tag "site" %>
    <% if ::I18n.locale == :ar %>
      <%= stylesheet_link_tag "markazi-text" %>
    <% else %>
      <%= stylesheet_link_tag "open-sans" %>
    <% end %>
    <%= javascript_include_tag "site" %>
    <link rel="dns-prefetch" href="https://sign.freesharing.eu">
    <link rel="dns-prefetch" href="https://licensebuttons.net">
    <% if ::I18n.locale == :ar %>
      <link rel="preload" href="/assets/stylesheets/fonts/markazi-text-latin-400-normal.woff2" as="font" type="font/woff2" crossorigin="anonymous">
      <link rel="preload" href="/assets/stylesheets/fonts/markazi-text-arabic-400-normal.woff2" as="font" type="font/woff2" crossorigin="anonymous">
      <link rel="preload" href="/assets/stylesheets/fonts/markazi-text-latin-700-normal.woff2" as="font" type="font/woff2" crossorigin="anonymous">
      <link rel="preload" href="/assets/stylesheets/fonts/markazi-text-arabic-700-normal.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <% else %>
      <link rel="preload" href="/assets/stylesheets/fonts/open-sans-latin-400-normal.woff2" as="font" type="font/woff2" crossorigin="anonymous">
      <link rel="preload" href="/assets/stylesheets/fonts/open-sans-latin-700-normal.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <% end %>
    <link rel="preload" href="/assets/stylesheets/fonts/fa-solid-900.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="icon" href="/images/favicon.png" sizes="32x32" />
    <link rel="icon" href="/images/favicon-192x.png" sizes="192x192" />
    <link rel="apple-touch-icon" href="/images/favicon-180x.png" />
    <meta name="msapplication-TileImage" content="/images/favicon-270x.png" />
  </head>
  <body class="bg-primary" dir="<%= data.languages[::I18n.locale]['dir'] %>">
    <% unless current_page.data.try(:global) %>
      <div id="slider-menu" class="slideout-menu slideout-menu-left">
        <div class="grid grid-cols-1 gap-4 p-6">
          <%= partial 'partials/menu' %>
          <a href="/languages">
            <i class="fas fa-language"></i>
            <%= data.languages[::I18n.locale]['name'] %>
          </a>
          <a href="#">Close</a>
        </div>
      </div>
    <% end %>
    <div id="panel">
      <header class="text-lg bg-black shadow">
        <div class="container flex items-center justify-between max-w-4xl p-4 md:py-8 md:px-0">
          <a href="<%= url_for('/', locale: ::I18n.locale) %>">
            <img class="w-64 md:w-128" src="/images/logo-white.png">
          </a>
          <% unless current_page.data.try(:global) %>
            <a href="/languages" class="hidden text-white hover:text-primary md:block">
              <i class="fas fa-language"></i>
              <%= data.languages[::I18n.locale]['name'] %>
            </a>
            <div class="md:hidden">
              <button type="button" class="block text-gray-500 toggle-button hover:text-white focus:text-white focus:outline-none">
                <i class="fas fa-bars"></i>
              </button>
            </div>
          <% end %>
        </div>
        <% unless current_page.data.try(:global) %>
          <nav class="hidden py-3 bg-primary md:block">
            <div class="container flex justify-end max-w-4xl md:justify-between">
              <div role="menu">
                <%= partial 'partials/menu' %>
              </div>
              <div class="mr-1 md:mr-0">
                <% if ::I18n.locale == :en %>
                  <a href="<%= url_for("/act") %>" data-turbolinks="false" class="px-4 py-2 font-bold text-white no-underline bg-black rounded shadow-md hover:bg-white hover:text-black"><%= t('messages.get_involved') %></a>
                <% else %>
                  <a href="<%= url_for("/#{::I18n.locale}/act") %>" data-turbolinks="false" class="px-4 py-2 font-bold text-white no-underline bg-black rounded shadow-md hover:bg-white hover:text-black"><%= t('messages.get_involved') %></a>
                <% end %>
              </div>
            </div>
          </nav>
        <% end %>
        <%= yield_content :hero %>
      </header>
      <main class="flex-grow pt-6 bg-white md:pb-16">
        <%= yield %>
      </main>
      <footer class="text-white bg-primary">
        <div class="container grid grid-cols-1 gap-6 py-8 md:py-16 place-items-center">
          <img src="/images/fts-white.png" width="88">
          <a rel="license" href="<%= t('creative-commons.url') %>">
            <img alt="<%= t('creative-commons.text') %>" style="border-width:0" src="https://licensebuttons.net/l/by-sa/4.0/88x31.png">
          </a>
          <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
            <a href="<%= url_for('/privacy') %>"><%= t('pages.privacy') %></a>
            <a href="<%= url_for('/certification') %>"><%= t('pages.certification') %></a>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
