<% content_for :hero do %>
  <section class="px-4 text-3xl text-white md:px-0" role="hero">
    <div class="container flex flex-col max-w-4xl py-12 md:flex-row">
      <p>
        <%= t('home.hero2.text') %>
      </p>
    </div>
  </section>
<% end %>
<% wrap_layout :base do %>
  <% unless data.languages[::I18n.locale]['translated'] %>
    <div class="container max-w-4xl mb-4 text-gray-800 md:flex">
      <aside class="w-full px-4 py-3 mb-6 text-yellow-900 bg-yellow-100 border-t-4 border-yellow-400 rounded-b shadow-md" role="alert">
        <p class="my-0 font-bold"><%= t('messages.missing_translations.first') %></p>
        <p class="my-0"><a href="https://l10n.rio.hn/projects/freedom-to-share/web/"><%= t('messages.missing_translations.second') %></a></p>
      </aside>
    </div>
  <% end %>
  <div id="home" class="container grid max-w-4xl grid-cols-1 p-4 leading-relaxed prose-lg text-gray-800 md:p-0 md:gap-6 md:grid-cols-2">
    <article>
      <%= yield %>
    </article>
    <aside>
      <% if data.languages[::I18n.locale]['widget'] %>
        <script id="proca" src="https://sign.freesharing.eu/d/freedomtoshare/<%= ::I18n.locale %>/"></script>
      <% else %>
        <script id="proca" src="https://sign.freesharing.eu/d/freedomtoshare/en/"></script>
      <% end %>
      <div class="proca-widget"></div>
    </aside>
  </div>
<% end %>
